@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Pen+Script&display=swap');

* {
    font-family: "Do Hyeon", sans-serif;
}


header {
    border: 3px double rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(255, 228, 240);
    padding: 15px;
    justify-content: center;
    display: flex;
}

.a{
    font-size: 50px;
    color: hsl(230, 100%, 10%);
}


.search {
    display: flex;
    justify-content: center;
    padding: 15px;
    border-bottom: 3px double hsl(0, 84%, 78%);
}

.search > label {
    font-size: 30px;
}

.search > input {
    margin-left: 15px;
    min-width: 200px;
    padding: 5px 10px;
}

.search > button {
    margin-left: 5px;
    padding: 5px;
    width: 50px;
    
    cursor: pointer;
}

.card_section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.card {
    border-radius: 5px;
    margin: 15px;
    padding: 15px;

    width: 300px;
    background-color: hsl(57, 93%, 88%);
    justify-self: center;

    cursor: pointer;
}

.card > img {
    width: 100%;
    border-radius: 5px;
}